
* {
  box-sizing: border-box;
}

body {

}

.contain {
  margin: 50px auto 0;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

svg {
    box-shadow: 0px 0px 10px 2px pink, inset 0px 0px 10px 2px hotpink;
}


.inline_rect {
  display: inline-block;
}


.bar {
  fill: purple;
}

.bar:hover {
  fill: dodgerblue;
}

.tipbox {
  position: absolute;
}

text {
  font-size: 0.75rem;
}
